<style>
    @media screen and (max-width: 800px) {
        .footer {

            position: relative;
            bottom: 0;
            width: 100%;

        }
    }
</style>

<div class="footer footer4"><br><br><br><br><br><br><br>
    <div class="text-center">

        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>

        <p class="capitalize"> ©
            <script>
                year = new Date().getFullYear();
                document.write(year);
            </script> copyright : developed by <a href="https://github.com/OneEyeX"> <strong> OneEyeX</strong></a> <br>
            <span style="text-transform:lowercase;">using</span>
            <a href="javascript:void(0)">
                <b>
                    Django
                </b>
            </a>
            <span style="text-transform:lowercase;">
                and
            </span>
            <a href="javascript:void(0)">
                <b>
                    Bootstrap
                </b>
            </a>
        </p>
        <br><br>
    </div>
</div>