{% extends 'base.html' %}
{% load static %}
{% block title %}
sign in
{% endblock title %}
{% block content %}




<div id="wrapper" class="flex flex-col justify-between h-screen">

    <!-- Content-->
    <div>
        <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
            <h1 class="lg:text-3xl text-xl font-semibold  mb-6"> Log in</h1>
            <div>
                <!-- <style>
                    .headi {
                        color: rgb(250, 206, 206);
                    }
                </style> -->
                {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h1 class=" display-5">{{message}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                {% endfor %}
            </div>


            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username"
                    class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
                <input type="password" name="password" placeholder="Password"
                    class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
                <button type="submit" class=" btn-secondary btn-lg btn-block">Login</button>
                <div class="text-center mt-5 space-x-2">
                    <p class="text-base"> Not registered? <a href="/signup" class=""><b> Create a account</b> </a></p>
                </div>
            </form>



        </div>
    </div>
    <style>
        .footer4 {
            position: absolute;
            bottom: 0;
            width: 50%;
        }
    </style>
    {% include 'footer.html' %}
</div>
{% endblock content %}